<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjetoModelo2022.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProjetoModelo2022.Properties.Settings>
            <setting name="MySQL_BD" serializeAs="String">
                <value />
            </setting>
            <setting name="MySQL_Servidor" serializeAs="String">
                <value />
            </setting>
            <setting name="MySQL_Porta" serializeAs="String">
                <value />
            </setting>
            <setting name="MySQL_Usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="MySQL_Senha" serializeAs="String">
                <value />
            </setting>
        </ProjetoModelo2022.Properties.Settings>
    </userSettings>
</configuration>